<<<<<<< HEAD

<h1>hello</h1>
<%= form_for @article do |f| %>
=======
<h1>hello</h1>
<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
>>>>>>> 8e9da44674f93db6432f75b619b7a316ff2b2688

<%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.label :author %>
  <%= f.text_area :author%>
  <%= f.submit %>
<% end %>
