  <h4><%= @article.title %></h4>
  <p><%= @article.content %></p>

<% @article.comments.each do|comment| %>
  <p> <%= comment.email %>
  </p>
  
  <p> <%= comment.content %>

  </p>
<%end%>

  <%= form_with url: article_comments_path(@article) do |f| %>
  <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :content, value: 'Comment' %>
    <%= f.text_area :content %>
    <%= f.submit %>
  <% end %>
