  <h4><%= @article.title %></h4>
  <p><%= @article.content %></p>

  <%= form_with url: article_comment_path(@article) do |form| %>
  <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
    <%= f.submit %>
  <% end %>
